@import '../utils/extends';

.jym {
    @extend .flex-wrap-center;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px 20px;

    &__container {
        display: flex;
    }

    &__text {
        background-color: slategrey;
        border: 2px solid black;
        border-radius: 12px;
        padding: 14px;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08)
    }

    &__img {
        flex: 1 1 400px;
        padding: 20px;
    }

    &__img img {
        width: 500px;
        border-radius: 16px;
        border: 3px solid black;
        box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
        transform: scale(1.03);
    }

    &__img img:hover {
        transform: scale(1.03);
    }
}

.title {
    margin: 0 auto;
    color: rgb(241, 43, 7);
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px black;
}

// телефон

@media screen and (max-width: 768px) {
    .jym {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 60px 20px;

        &__container {
            padding-left: 28px;
            display: flex;
            flex-direction: column;
            width: 512px;
        }

        &__text {
            width: 352px;
            height: 410px;
            background-color: slategrey;
            border: 2px solid black;
            border-radius: 12px;
            padding: 14px;
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08)
        }

        &__img {
            margin-bottom: -183px;
            flex: 1 1 400px;
            padding: 20px;
        }

        &__img img {
            margin-left: -23px;
            width: 360px;
            border-radius: 16px;
            border: 3px solid black;
            box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
            transform: scale(1.03);
        }

        &__img img:hover {
            transform: scale(1.03);
        }
    }

    .title {
        margin: 0 auto;
        color: rgb(241, 43, 7);
        font-size: 50px;
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 2px 2px 4px black;
    }
}

// планшет

@media screen and (max-width: 1023px) {
    .jym {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 60px 20px;

        &__container {
            margin-left: 73px;
            padding-left: -9px;
            display: flex;
            flex-direction: column;
            width: 468px;
        }

        &__text {
            margin-left: -161px;
            width: 606px;
            height: 365px;
            background-color: slategrey;
            border: 2px solid black;
            border-radius: 12px;
            padding: 14px;
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08)
        }

        &__img {
            margin-bottom: -100px;
            flex: 1 1 400px;
            padding: 20px;
        }

        &__img img {
            margin-left: -180px;
            width: 615px;
            border-radius: 16px;
            border: 3px solid black;
            box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
            transform: scale(1.03);
        }

        &__img img:hover {
            transform: scale(1.03);
        }
    }

    .title {
        margin: 0 auto;
        color: rgb(241, 43, 7);
        font-size: 50px;
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 2px 2px 4px black;
    }
}