$bg-btn-buy: rgb(226, 221, 221);
$menu-link-hover: rgb(194, 202, 198);
$font-paragraph: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$title-section: Verdana, Geneva, Tahoma, sans-serif;
$img-border-radius: 30px;
$footer-bg-color: black;